.speech {
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 14px; 
    color: black;
}

.direction {
    font-family: Times New Roman, serif; 
    font-size: 12px; 
    color: black; 
    background-color: #fafafa; 
}

.direction:hover {
    background-color: rgb(230, 238, 199);
    color: rgb(219, 76, 20); 
}

.NORA {
    color: blue; 
}

.HELMER {
    color: rgb(243, 6, 58); 
}

.NORA:hover {
    text-shadow:2px 2px 4px #6eb97d; 
    border:3px solid blue;
    cursor: pointer;  
}
.HELMER:hover {
    text-shadow:2px 2px 4px rgb(95, 148, 152); 
    border: 3px solid #FF5733;
    cursor: pointer; 
}

table{
    width:50%;
    border-collapse: collapse;
    margin: 20px auto;
    border: 3px solid #40b0c4;
    padding: 16px;
    text-align: center;
    font-weight: bold;
}
th {
    background-color: #e4f892;
    border: 3px solid #40b0c4;
    color: #02113f;
    padding:10px;
}

td {
    border: 3px solid #40b0c4;
    padding: 10px;
    text-align: center;
    color:rgb(78, 29, 13)
   
}

tbody{
    background-color: #f2f2f2;
}
tr:nth-child(even) {
     
    background-color:rgb(150, 212, 155); 
}
tr:nth-child(odd) {
     
    background-color:rgb(209, 140, 211); 
}

